@model IEnumerable<Coditas.EComm.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
  
<p>
    <!--The tag helper that will make the HTTP GET Request to 
          "Create" Action MEthod of the Category COntroller-->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                <!--Hyper LInks to Make HTTP GET Requests to Action Methods from
                    CategoryController
                -->
                @Html.ActionLink("Edit", "Edit", new {  id=item.CategoryId}) |
                    @Html.ActionLink("ShowDetails", "ShowDetails", new { id=item.CategoryId }) 
            </td>
        </tr>
}
    </tbody>
</table>
